<div>
    <form class="content" (submit)="saveDisponibilidad()">
        <div class="submit-form">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Registro de Disponibilidad</h6>
                </div>
            </div>
            <div class="col-lg-6">
                <label for="idUsuario">IdUsuaro</label>
                <select  id="idUsuario" name="idUsuario" class="form-control" 
                 [(ngModel)] = "disponibilidad.idUsuario">
                <option value="-1"> [Seleccione] </option>   
                <option *ngFor="let aux of listausuario" value="{{aux.idUsuario}}">
                    {{aux.nombres}}
                </option>  
                  
            </select>
            </div>
            <div class="row" style="margin-top: 3%">
                <div class="col-lg-6">
                    <label for="horaInicio">HoraInicio</label>
                    <input type="time" class="form-control" name="horaInicio" id="horaInicio" [(ngModel)]="disponibilidad.horaInicio"/>
                </div>
                <div class="col-lg-6">
                    <label for="horaFin">HoraFin</label>
                    <input type="time" class="form-control" name="horaFin" id="horaFin" maxlength="4" [(ngModel)]="disponibilidad.horaFin" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label for="dia">Dia</label>
                    <input type="text" class="form-control" id="dia" name="dia" [(ngModel)]="disponibilidad.dia"/>
                </div>
                <div class="col-lg-6">
                    <label for="idCiclo">idCiclo</label>
                    <select  id="idCiclo" name="idCiclo" class="form-control" 
                    [(ngModel)] = "disponibilidad.idCiclo">
                        <option value="-1"> [Seleccione] </option>   
                        <option *ngFor="let aux of listaciclo" value="{{aux.idCiclo}}">
                            {{aux.nombre}}
                    </select>
                </div>
               
            </div>
            <div class="row" style="margin-top: 3%">
                <div class="col-lg-12">
                    <button class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>